# Node
node_modules/
.next/

# Python
.venv/
__pycache__/
*.pyc

# Environment variables
.env
*\backend\src\.env
# Logs
*.log

# OS
.DS_Store
backend/keys/
# Tests
backend/src/data.json
backend/data.json
scraper/nj_teacher_scraper.py
#Data file too large
# Test 1